<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>Money Minder</title>
</head>

<body class="bg-gray-100">

    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold mb-6 text-center text-indigo-600">Money Minder</h1>
        <p class="text-lg text-gray-700 mb-12 text-center">Track and manage your finances with ease.</p>
        <div class="flex items-center justify-center">
            <a href="{% url 'account_signup' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full mr-4">Sign Up</a>
            <a href="{% url 'account_login' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full">Learn More</a>
        </div>
    </div>

</body>

</html>


        <div class="flex" style="margin-top: 32px;">
            <a href="">login</a>
            <a href="">signup</a>
        </div>



