{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- Features 1  start -->
        <div class="bg-slate-700 card-title p-5 flex justify-between">
            Featured Budget plan
                                <!-- Create Budget  -->
                                <div class="">
                                    <a href="">
                                        <button type="button" class="nav-link p-2">
                                            <i class="fas fa-plus fa-2x"></i>
                                        </button>
                                    </a>
                                </div>
        </div>
        <!-- Features1 end -->

        <h2 class="text-2xl font-bold mb-4">Items</h2>
        <form method="post" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 border-gray-200 font-bold py-2 px-4 rounded">Create budget</button>
        </form>
        <ul>
            {% for item in items %}
            <li class="mb-2">{{ item.name }}</li>
            {% endfor %}
        </ul>

        <!-- Features2 start -->
        <div class="grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-6">
            {% for budget in budgets %}
            <div class="card">
                <div class="p-6">
                    <div class="flex items-center gap-6">
                        <div dir="ltr">
                            <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="#f05050" data-bgColor="#F9B9B9" value="{{ budget.calculate_total_transactons }}" data-skin="tron" data-angleOffset="180" data-readOnly="true" data-thickness=".15" data-max="{{ budget.amount }}"/>
                        </div>

                        <div class="flex-grow overflow-hidden">
                            <h5 class="text-gray-800 dark:text-white mb-1 capitalize ">{{ budget.title }}</h5>
                            <p class="mb-2 text-l text-gray-400 font-normal truncate">Amount: <span class="text-danger">${{ budget.amount }}</span></p>
                            <p class="text-warning font-semibold text-sm">Exceeded by <span>${{ budget.calculate_excess_amount }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



            
        </div> <!-- grid-end -->

        <div class="grid xl:grid-cols-3 grid-cols-1 gap-6">

        <!-- Daily expences card end -->
{% endblock content %}